git+https://github.com/bbarad/Pyto.git@patch-2
git+https://github.com/bbarad/pycurv.git
git+https://github.com/hemanthkapa/napari-vedo-bridge.git
pymeshlab==2025.7
pyyaml
ruamel.yaml
click
mrcfile
scikit-learn
jupyter
statsmodels
scipy==1.7
napari
napari-tomoslice
napari-timelapse-processor
magicgui
